<!DOCTYPE html>
{% load staticfiles %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'Walter/style.css' %}" />

<h1 align = "center">Welcome to Walter {{ user }}!</h1>

<a href='insert' class="button">Add a New Reading</a> <br>

<a href='history' class = "button">View Blood Sugar History</a> <br>

<a href='configuration' class = "button">Configure Your Account</a> <br>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" class = "logoutButton" value="Logout">
</form>
