body {
    background-color: #208CBA;
}


select{
    display: table-cell
    font-size: x-large;
    padding: 1% 1%;
    horizontal-align:left;
}

option{
    font-size: x-large;
}

form  { display: table;      }
p    { display: table-row;  }
form label { 
    display: table-cell;
    color: #303030;
    padding: 3% 3%;
    font-size: xx-large; 
}
.formInput{
    font-size: x-large;
    padding: 1% 1%;
    display: inline table-cell;
}


.button {
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
    padding: 3% 3%;
    width: 80%;
    text-align: center;
    text-decoration: none;
    border-radius:10px;
    display: inline-block;
    font-size: xx-large;
    margin: 2% 7%;
}

.button:hover {background-color: #232323;}

.logoutButton{
    background-color: #EEAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 3% 3%;
    width: 40%;
    text-align: center;
    text-decoration: none;
    border-radius:10px;
    display: inline-block;
    font-size: xx-large;
    margin: 2% 7%;
}

.logoutButton:hover {background-color: #232323;}

